<div class="container">
  <h1 class="text-center">{{titulo}}</h1>
  <form>
    <div class="mb-3">
      <label for="valor1" class="form-label">Ingrese el primer Valor</label>
      <input type="number" placeholder="Ingresar Numero" class="form-control" name="operandoA" [(ngModel)]="operandoA">
    </div>
    <div class="mb-3">
      <label for="valor2" class="form-label">Ingrese el segundo valor</label>
      <input type="number" placeholder="Ingresar Numero" class="form-control" name="operandoB" [(ngModel)]="operandoB">
    </div>
    <select class="form-select" name="selectOption" [(ngModel)]="selectOption">
      <option *ngFor="let operacion of operaciones" [selected]="operacion.nombre === 'Selecciona una opción'"
        [value]="operacion.valor">{{operacion.nombre}}</option>
    </select>

    <div [ngSwitch]="selectOption" class="mt-3 bg-dark px-1 py-2 text-center fs-5">
      <div *ngSwitchCase="'suma'" [ngClass]="'info'">
        <p>resultado:{{onSumar()}} {{resultado}}</p>
      </div>
      <div *ngSwitchCase="'resta'" [ngClass]="'azul'">
        <p>resultado:{{onRestar()}} {{resultado}}</p>
      </div>
      <div *ngSwitchCase="'multiplicacion'" [ngClass]="'amarillo'">
        <p>resultado:{{onMultiplicar()}} {{resultado}}</p>
      </div>
      <div *ngSwitchCase="'divicion'" [ngClass]="'verde'">
        <p>resultado:{{onDividir()}} {{resultado}}</p>
      </div>
      <div *ngSwitchDefault>
        <p [ngClass]="'rojo'">resultado: <span>no eligio una operacion</span></p>
      </div>
    </div>

  </form>

</div>
